[global_config]
[keybindings]
[profiles]
  [[default]]
    background_color = "#ffffff"
    cursor_color = "#729fcf"
    cursor_color_fg = False
    font = Monospace 12
    foreground_color = "#000000"
    use_system_font = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
